version: '3.8'

services:
  # 1. Backend Servisi
  server:
    build: ./server
    ports:
      - "3001:3001"
    environment:
      - PORT=3001

  # 2. Frontend Servisi
  client:
    build: ./client
    ports:
      - "5174:5174"
    depends_on:
      - server  # Önce sunucu başlasın, sonra bu